version: "3.9"

services:
  devicehubmini-client:
    container_name: devicehubmini-client
    image: devicehubmini-client:latest
    build:
      context: ./DeviceHubMini.Client
      dockerfile: Dockerfile

    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:8080"

    ports:
      - "5068:8080" # GraphQL API exposed to host

    restart: unless-stopped

  devicehubmini-service:
    cap_add:
      - NET_ADMIN
    container_name: devicehubmini-service
    image: devicehubmini-service:latest
    build:
      context: .
      dockerfile: DeviceHubMini.Service/Dockerfile

    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:8080"

      # Use Docker DNS service-to-service call
      GraphQLUrl: "http://devicehubmini-client:8080/graphql"
      ScannerType: "Bluetooth"

      # First-run bootstrap key
      API_KEY: "prod-key-999"

    ports:
      - "5069:8080" # Exposed for debugging only (Optional)

    ## test duplicate start
    # entrypoint: ["/bin/sh"]
    # command: ["-c", "while true; do sleep 3600; done"]
    ## test duplicate end

    # Normal mode
    command: ["prod-key-123"]

    volumes:
      - ./devicehub_data/Service/:/app/DeviceHubMini/db

    restart: unless-stopped
    depends_on:
      - devicehubmini-client

volumes:
  devicehub_data:
