version: "3.9"

services:
  devicehubmini-client:
    container_name: devicehubmini-client
    image: devicehubmini-client:latest
    build:
      context: ./DeviceHubMini.Client
      dockerfile: Dockerfile

    environment:
      TZ: "Asia/Kolkata"
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:8080"
      
      # New Relic environment variables
      CORECLR_ENABLE_PROFILING: "1"
      CORECLR_PROFILER: "{36032161-FFC0-4B61-B559-F6C5D41BAE5A}"
      CORECLR_NEWRELIC_HOME: "/usr/local/newrelic-dotnet-agent"
      CORECLR_PROFILER_PATH: "/usr/local/newrelic-dotnet-agent/libNewRelicProfiler.so"
      NEW_RELIC_LICENSE_KEY: "8241dbd393ea5ad28da6c8924edc15cbFFFFNRAL"
      NEW_RELIC_APP_NAME: "DeviceHubMini-Client"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"

    ports:
      - "5068:8080" # GraphQL API exposed to host

    restart: unless-stopped

  devicehubmini-service:
    cap_add:
      - NET_ADMIN
    container_name: devicehubmini-service
    image: devicehubmini-service:latest
    build:
      context: .
      dockerfile: DeviceHubMini.Service/Dockerfile

    environment:
      TZ: "Asia/Kolkata"
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:8080"

      # Use Docker DNS service-to-service call
      GraphQLUrl: "http://devicehubmini-client:8080/graphql"
      ScannerType: "File"

      # First-run bootstrap key
      API_KEY: "prod-key-999"
      
      # New Relic environment variables
      CORECLR_ENABLE_PROFILING: "1"
      CORECLR_PROFILER: "{36032161-FFC0-4B61-B559-F6C5D41BAE5A}"
      CORECLR_NEWRELIC_HOME: "/usr/local/newrelic-dotnet-agent"
      CORECLR_PROFILER_PATH: "/usr/local/newrelic-dotnet-agent/libNewRelicProfiler.so"
      NEW_RELIC_LICENSE_KEY: "8241dbd393ea5ad28da6c8924edc15cbFFFFNRAL"
      NEW_RELIC_APP_NAME: "DeviceHubMini-Service"
      NEW_RELIC_DATASTORE_TRACER_QUERY_PARAMETERS_ENABLED: "true"
      NEW_RELIC_DATASTORE_TRACER_DATABASE_NAME_REPORTING_ENABLED: "true"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"

    ports:
      - "5069:8080" # Exposed for debugging only (Optional)

    ## test duplicate start
    # entrypoint: ["/bin/sh"]
    # command: ["-c", "while true; do sleep 3600; done"]
    ## test duplicate end

    # Normal mode
    command: ["prod-key-123"]

    volumes:
      - ./devicehub_data/Service/:/app/DeviceHubMini/db

    restart: unless-stopped
    depends_on:
      - devicehubmini-client

volumes:
  devicehub_data:
