<?xml version="1.0"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="8241dbd393ea5ad28da6c8924edc15cbFFFFNRAL" />
  <distributedTracing enabled="true" />
  <application>
    <name>DeviceHubMini-Service</name>
  </application>
  <log level="info" />
  <appSettings>
    <add key="NewRelic.AppSettings.Service.CompleteTransactionsOnThread" value="true" />
  </appSettings>
  <datastoreTracer enabled="true" recordSql="raw" />
</configuration>
