<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Directory Id="ProgramFiles64Folder">
      <Directory Id="DIR_Company" Name="DeviceHubMini">
        <Directory Id="INSTALLFOLDER" Name="DeviceHubMini">
          <Directory Id="DIR_Service" Name="Service" />
          <Directory Id="DIR_Tray" Name="Tray" >
            <Directory Id="DIR_TrayAssets" Name="Assets" />
          </Directory>
          </Directory>
      </Directory>
    </Directory>

    <!-- Start Menu shortcuts -->
    <Directory Id="ProgramMenuFolder">
      <Directory Id="DIR_TrayShortcut" Name="DeviceHubMini" />
    </Directory>

  </Fragment>
</Wix>
