
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
<Fragment>
  <UI>
    <Dialog Id="InvalidKeyDlg" Width="260" Height="120" Title="Validation Error">
      <Control Id="Text" Type="Text"
               X="20" Y="20" Width="220" Height="40"
               Text="[ErrorText]" />

      <Control Id="OK" Type="PushButton"
               X="95" Y="75" Width="60" Height="17"
               Default="yes"
               Text="OK">
        <Publish Event="EndDialog" Value="Return" />
      </Control>
    </Dialog>
  </UI>
</Fragment>
</Wix>